.app {
  text-align: center;
}

.app-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.h1 {
  color: #000000
}

.h2 {
  color: #000000;
  font-size: 14px;
}

.button {
  background: #ff3333;
  border: 1px solid #ee1818;
  color: #fff;
  border-radius: 4px;
  padding: 15px 32px;
  font-size: 20px;
}

.navbar {
  background: #ff3333;
  border-radius: 4px;
  min-height: 300px;
}

.contentspace {
  background: #ffffff;
  border-radius: 4px;
  min-height: 600px;
  max-width: 1300px;
  padding: 30px 50px 50px 50px;
  margin: auto;
}

.grid-content-container {
  position: relative;
  text-align: center;
  color: white;
}

.grid-content-left {
  position: absolute;
  top: 8px;
  left: 16px;
  right: 16px;
  text-align: left;
}